html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    max-width: 100%;
}

html {
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.75rem;
}

a:hover, a:hover .text {
  color: darkblue;
  text-decoration: underline;
  text-transform: uppercase;
}

#navigation {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: grey;
}

#navigation li {
  display: inline-block;
}

#banner {
  display: inline-block;
  position: relative;
  margin-top: 2.5rem;
}

#title {
  text-align: center;
  padding-bottom: 2rem;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-item {
  font-size: 1.25rem;
  text-align: center;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
  position: relative;
  width: 80%;
}

.container-item .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.container-item img {
  width: 100%;
  height: 100%;
}

#border {
  padding: 2rem;
}

.box-text, .box-img, .box-stats {
  margin-bottom: 2rem;
}

#map-stats .box-img, #map-stats .box-stats {
  border: 0.1rem solid black;
}

/* @media screen and (min-width: 60em) {
  #border {
    margin: 0 11% 0 11%;
    border-left: 0.1rem dashed black;
    border-right: 0.1rem dashed black;
  }
  .container-item {
    width: 9rem;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  .box, #map-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .box-text {
    min-width: 60%;
  }
  .box-img {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .box .box-img {
    max-width: 20rem;
  }
  .box-stats {
    min-width: 30%;
  }
  #map-stats .box-img {
    max-width: 30rem;
  }
} */
