html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    max-width: 100%;
}

body {

}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

Ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 0.5em;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

#navigation {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: grey;
}

/* #navigation {
  display: flex;
  font-weight: bold;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-image: url("../img/sanddunestop.heic");
} */

/* .nav {
  padding: 0.5em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  font-size: 1em;
} */

#banner {
  display: inline-block;
  position: relative;
  margin-top: 2em;
}

/* #banner .text {
  position: absolute;
  text-align: center;
  z-index: 0.5;
  left: 0;
  right: 0;
  top: 50%;
} */

#title {
  text-align: center;
  padding-bottom: 2em;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-item {
  font-size: 1.5em;
  text-align: center;
  border: 0.1em solid black;
  margin-bottom: 1em;
  position: relative;
  width: 80%;
}

.container-item .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

#border {
  padding: 2em;
}

.box-text {
  padding-bottom: 2em;
}

.box-img {
  margin: auto;
  padding-bottom: 2em;
}


@media screen and (min-width: 750px) {
  #navigation {
    /* justify-content: flex-start; */
  }
  /* .nav {
    font-size: 1.2em;
    padding: 0.5em;
  } */
  /* #banner .text {
    font-size: 3em;
  } */

  #border {
    margin: 0 11% 0 11%;
    border-left: 0.1em dashed black;
    border-right: 0.1em dashed black;
  }
  .container-item {
    width: 9em;
    margin: 0 0.5em 1em 0.5em;
  }
  .box {
    display: flex;
    align-items: center;
  }
  .box-text {
    min-width: 60%;
  }
  .box-img {
    max-width: 20em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
